
@import '../layout/global-rute';
@import '../abstracts/mixing';
button{
    width: 461PX;
    height: 94px;
    border-radius: 12px;
    // margin-left: 440px;
    // margin-top: 78px;

    .btn-start{
        // font-weight: bolder;
        // font-size: 35px;
    }
}